<div class="d-flex flex-column root">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 py-4">Vivero El Otoño</span>
    </div>
  </nav>
  <main
    class="flex-grow-1 d-flex align-items-center justify-content-start flex-column p-3"
  >
    <div class="custom-container">
      <app-plantas-lista></app-plantas-lista>
    </div>
  </main>
  <footer
    class="bg-light flex-shrink-0 d-flex align-items-center justify-content-center p-3"
  >
    <span class="w-100"
      ><strong class="d-block w-100 text-center"
        >Contact Us + 5777777 - info@viveroelotonio.com -
        @viveroelotonio</strong
      ></span
    >
  </footer>
</div>
