<div class="d-flex flex-column root">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 py-4">Vivero El Otoño</span>
    </div>
  </nav>
  <main
    class="flex-grow-1 d-flex align-items-center justify-content-center flex-column p-3"
  >
    <div class="custom-container">
      <div class="custom-separator my-3"></div>

      <img src="../assets/wallpaper.png" alt="vivero el otoño" class="w-100" />

      <div class="custom-separator my-3"></div>

      <div class="table-responsive w-100">
        <table class="table table-hover custom-table">
          <thead>
            <tr>
              <th id="titulo" class="bg-custom-dark fw-bolder text-white">#</th>
              <th id="duracion" class="bg-custom-dark fw-bolder text-white">
                Nombre en común
              </th>
              <th id="popularidad" class="bg-custom-dark fw-bolder text-white">
                Tipo
              </th>
              <th id="lanzamiento" class="bg-custom-dark fw-bolder text-white">
                Clima
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
            </tr>
            <tr>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
              <td>
                <dd>Lorep Ipsum</dd>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex flex-column">
        <span>Total plantas de interior: <strong>3</strong> </span>
        <span>Total plantas de exterior: <strong>2</strong></span>
      </div>
    </div>
  </main>
  <footer
    class="bg-light flex-shrink-0 d-flex align-items-center justify-content-center p-3"
  >
    <span class="w-100"
      ><strong class="d-block w-100 text-center"
        >Contact Us + 5777777 - info@viveroelotonio.com -
        @viveroelotonio</strong
      ></span
    >
  </footer>
</div>
